.button-group-profile {
  text-align: center !important;
}

.group {
  background-color: #edf4f2 !important;
  padding: 0.25rem;
  gap: 0.5rem !important;
  width: 25.125rem;
  height: 3rem;
}

.btn-group-home {
  width: 7.875rem;
  height: 2.5rem;
  padding: 0.5rem, 1rem, 0.5rem, 1rem;
}


