.card {
  height: 250px;
  width: 216px;
  min-width: 250px;
  min-width: 216px;
  border-radius: 16;
}

#left-badge {
  text-align: left;
}

#right-badge {
  text-align: right;
}

.row {
  margin: 10px;
}

.card-title {
  font-size: 16px;
}

.img-card {
  padding: 2px;
  border-radius: 10%;
  margin: 0 4px 0 4px;
}
