.avatar-logo {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  margin-left: 0.625rem;
}

.btn-link {
  color: black !important;
  text-decoration: none !important;
  font-weight: bold !important;
  padding: 0 !important;
}

.btn-dark {
  color: white !important;
  border-radius: 1rem !important;
}

.navbar-text {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

.gap {
  display: inline-block;
  margin: 0px 0.375rem 0px 0.375rem;
}

.navbar-expand-lg {
  padding: 20px 32px 20px 32px !important;
}

#navbar-loggedin {
  background-color: #f6f6f4 !important;
}

.btn-group {
  margin-left: 2rem;
  height: 25% !important;
  background-color: #ffffff;
  border-radius: 32px !important;
}

.btn-outline-dark {
  border: #ffffff !important;
  border-radius: 32px !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
}

.dot {
  height: 3.125rem;
  width: 3.125rem;
  background-color: #f4ff47;
  border-radius: 50%;
  display: inline-block;
}

.container {
  background-color: #ffffff;
  border-radius: 32px;
}

.plus-icon {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 0.625rem;
}

.row-profile {
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
}

.avatar {
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

.btn-outline-light {
  color: black !important;
}

.show {
  border-radius: 1rem !important;
  width: 12.75rem;
  height: 7rem;
}

.switcher {
  width: 15.6875rem !important;
  height: 4rem !important;
  padding: 0.25rem;
}
