.pass-input {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}

.password {
  margin-top: 1rem !important;
}

.eye {
  background-color: white !important;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.eye:hover{
    cursor: pointer;
}
